.box{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    text-align: center;
    text-transform: uppercase;
    margin: 200px;
    padding: 50px;
}
.box1{
    background-color: hotpink;
    transition: 5s;
}
.box1:hover{
    box-shadow:10px 20px 20px #ccc7c7;
    border-radius: 20px;
    transition: 5s;
    transform: rotate(200deg);
    cursor: move;
    color: rgb(17, 0, 255);
}

.box2{
    background-color: greenyellow;
}
